{% extends 'base2.html.twig' %}

{% block main %}
    <div class="content-wrapper">

        <div class="light-wrapper">
            <h1>List of all categories:</h1>
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td><a style="color: white; background-color: cornflowerblue; padding: 5px;" href="{{ path('article_edit', {'id': category.id}) }}">EDIT</a>
                        </td>
                        <td><a style="color: white; background-color: lightcoral; padding: 5px;" href="{{ path('article_delete', {'id': category.id}) }}">DELETE</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <!-- /.light-wrapper -->
    </div>

{% endblock %}